<div class="file-upload-{{type || 'normal'}}">
    <div id="FileUploaderDrop-{{id}}" class="uk-file-upload">
        <p class="uk-text">Drop the file[s] here for upload...</p>
        <p class="uk-text-muted uk-text-small uk-margin-small-bottom">یا</p>
        <span class="uk-form-file md-btn">Select a file...<input id="FileUploader-{{id}}" type="file"></span>
    </div>
    <div id="Progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width:0">0%</div>
    </div>
</div>