<div id="page_heading">
    <div class="heading_actions">
        <a href="javascript: void(0)" data-uk-tooltip="{pos:'bottom'}"
           ng-click="self.toggleFilter()"
           title="Search">
            <i ng-class="{ 'md-color-blue-500': isFilterActive }" class="md-icon material-icons">&#xE8B6;</i>
        </a>

        <a href="javascript: void(0)" data-uk-tooltip="{pos:'bottom'}"
           ng-show="isReportableForm"
           ng-click="self.showReport()"
           title="Show report">
            <i class="md-icon material-icons">&#xE8AD;</i>
        </a>


        <a href="javascript: void(0)" data-uk-tooltip="{pos:'bottom'}"
           ng-show="isExcelableForm"
           ng-click="self.excelReport()"
           title="Excel export">
            <i class="md-icon material-icons">&#xE149;</i>
        </a>
    </div>

    <h1>{{state_title}}</h1>
    <div class="uk-grid uk-margin-top" ng-show="isFilterActive">
        <div class="uk-width-small-2-10">
            <label>Title</label>
            <input type="text" class="md-input"
                   ng-model="request.searchFilterModel.title.value"
                   md-input />
        </div>

        <div class="uk-width-small-3-10">
            <div>
                <label>Status</label>
                <div class="uk-margin-small-top">
                    <span class="icheck-inline">
                        <input type="radio" id="isActive_undefined" icheck ng-value="undefined"
                               ng-model="request.searchFilterModel.isActive.value" />
                        <label for="isActive_undefined" class="inline-label">All</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" id="isActive_true" icheck ng-value="true"
                               ng-model="request.searchFilterModel.isActive.value" />
                        <label for="isActive_true" class="inline-label">Active</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" id="isActive_false" icheck ng-value="false"
                               ng-model="request.searchFilterModel.isActive.value" />
                        <label for="isActive_false" class="inline-label">Inactive</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="uk-width-small-1-6">
            <button type="button" class="md-btn md-btn-primary uk-margin-top"
                    ng-click="self.filterTable($event)">
                Search
            </button>
            <button type="button" class="md-btn md-btn-danger uk-margin-top"
                    ng-click="self.clearFilters()">
                Clear filters
            </button>

        </div>
    </div>
</div>