<div id="page_content">

    <div id="page_heading">
        <div class="heading_actions">
            <a href="javascript: void(0)" data-uk-tooltip="{pos:'bottom'}"
               ng-click="self.toggleFilter()"
               title="Search"><i ng-class="{ 'md-color-blue-500': isFilterActive }" class="md-icon material-icons">&#xE8B6;</i></a>
        </div>
        <h1>{{state_title}}</h1>

        <div class="uk-form-row" ng-show="isFilterActive">
            <div class="uk-grid uk-margin-top">

                <div class="uk-width-small-3-10">
                    <label>Title</label>
                    <input type="text" class="md-input"
                           ng-model="request.searchFilterModel.title.value"
                           maxlength="30"
                           md-input />
                </div>

                <div class="uk-width-small-2-10 uk-margin-small-top">
                    <input type="text"
                           config="categoriesForSearchFilterConfig"
                           options="categoriesForSearchFilter"
                           ng-model="request.searchFilterModel.categoryId.value"
                           selectize />
                </div>

                <div class="uk-width-small-3-10">
                    <div>
                        <label>Status</label>
                        <div class="uk-margin-small-top">
                            <span class="icheck-inline">
                                <input type="radio" id="isActive_undefined" icheck ng-value="undefined"
                                       ng-model="request.searchFilterModel.isActive.value" />
                                <label for="isActive_undefined" class="inline-label">All</label>
                            </span>
                            <span class="icheck-inline">
                                <input type="radio" id="isActive_true" icheck ng-value="true"
                                       ng-model="request.searchFilterModel.isActive.value" />
                                <label for="isActive_true" class="inline-label">Active</label>
                            </span>
                            <span class="icheck-inline">
                                <input type="radio" id="isActive_false" icheck ng-value="false"
                                       ng-model="request.searchFilterModel.isActive.value" />
                                <label for="isActive_false" class="inline-label">Inactive</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="uk-width-small-2-10">
                    <button type="button" class="md-btn md-btn-primary uk-margin-top uk-float-left"
                            ng-click="self.filterTable($event)">
                        Search
                    </button>
                    <button type="button" class="md-btn md-btn-danger uk-margin-top"
                            ng-click="self.clearSearchFilters()">
                        Clear filters
                    </button>
                </div>

            </div>
        </div>

    </div>

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <grid-view></grid-view>
            </div>
        </div>

    </div>

</div>


<!-- single book view -->
<div id="single-view-dialog" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Details of {{singleViewModel.title}}</h3>
        </div>

        <div class="uk-form-row uk-margin-medium-top">
            <div class="uk-grid">
                <div class="uk-width-medium-3-10">
                    <span>
                        Title:
                    </span>
                    <strong class="md-color-blue-500">
                        {{singleViewModel.title}}
                    </strong>
                </div>
                <div class="uk-width-medium-7-10 uk-text-center">
                    <span>
                        Category Title:
                    </span>
                    <strong class="md-color-blue-500" >
                        {{singleViewModel.categoryTitle}}
                    </strong>
                </div>
            </div>
        </div>

        <div class="uk-form-row uk-margin-medium-top">
            <div class="uk-grid">
                <div class="uk-width-medium-3-10">
                    <span>
                        Description:
                    </span>
                    <strong class="md-color-blue-500">
                        {{singleViewModel.description}}
                    </strong>
                </div>
            </div>
        </div>


        <hr class="uk-divider-icon">
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-warning"
                    ng-click="self.closeSingleViewDialog($event)">
                Back
            </button>
        </div>

    </div>
</div>
