/*@font-face {
    font-family: 'BYekan';
    font-style: normal;
    font-weight: 400;
    src: url("../icons/material-design-icons/MaterialIcons-Regular.eot");
}
* {
    font-family: BYekan;
}*/
.slide_header {
  text-shadow: 1px 1px black; }

.md-list-addon > li {
  margin-left: 0;
  margin-right: 64px; }

.md-list-addon-element {
  left: auto;
  right: -64px; }

.md-list .uk-nestable-list > li > .md-list-content .uk-badge, .md-list > li > .md-list-content .uk-badge {
  float: left; }

.md-list-outside.md-list-addon li {
  margin-right: 0; }

.md-list-outside.md-list-addon li .md-list-addon-element {
  float: right;
  right: auto; }

.md-list .uk-nestable-list > li .md-list-action-dropdown, .md-list > li .md-list-action-dropdown {
  right: auto;
  left: 16px; }

.md-list .uk-nestable-list > li > .md-list-content .md-list-action-placeholder, .md-list > li > .md-list-content .md-list-action-placeholder {
  float: left;
  margin-right: 8px;
  margin-left: 0; }

.md-list .uk-nestable-list > li {
  margin-left: 0;
  margin-right: 64px; }

.md-list .uk-nestable-list > li > .md-list-content .md-list-action, .md-list > li > .md-list-content .md-list-action {
  float: left;
  margin-left: 0;
  margin-right: 8px; }
